html,
body {
    height: 100%;
     max-width: 100%;
}

a {
    cursor: pointer;
}
h2 {
    font-size:24px;
}
h3{
    font-size:18px;
}
ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
}

.btn-form {
	margin : 1rem 0;
}

.text-left {
	text-align : left !important ;
}

.search-grid table {
    margin-bottom: 0px;
}

.roleCapabilities label {
    display: block;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view {
    clear: both;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.select2 {
    width: 100% !important;
}


.select2-selection--multiple {
    background: #fff url("images/down-arrow.png") no-repeat right center !important;

}

.img-profil img{
    width: 125px;
    height: 125px;
    display: block;
    margin: 0 auto;
}

.producteur-view p, .journaliste-view p {
    font-size: 15px;
}

.statsProd {
    margin-top: 12px;
}

/*view contact*/

.autres-infos i {
    width: 15px;
}

/*Liste contacts*/

#displayFields div {
    border: 1px solid #e6e9ed;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
}

#displayFields div label{ 
    font-weight: normal;
}
td {
    vertical-align : middle !important;
}

.action {
display : block;
margin : 2px auto;
}

/*#displayFieldsForm {
    margin: 1rem 0;
}*/

#gridHeader a{
    margin-top: 13px; 
}

.btn-add {
    position: absolute;
    top: 0;
    right: 12px;
}

.kv-checkbox-list {
    left: -77px;
    min-width: 180px;
}

#w3.dropdown-menu {
    left: -108px;
}
/*Single contact view */

.btn-edit {
    border : 0;
    background: none;
    padding: 0;
    float: right;
}

.mainInfos p {
    height: 25px;
    line-height: 25px;
    border-bottom: 1px dotted #ddd;
}
.mainInfos p .fa{
    width: 20px;
}
.mainInfos p .btn-edit {
    height: 25px;
}

.mainInfos .x_content {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ddd; 
}

.headerInfos button {
    margin-top: 6px;
}

.secondInfos hr {
    margin: 40px 0;
}
.sectremove {
    float: right;
}

.sectshow {
    width: 150px;
}


.tab-content {
    padding: 0.5rem 0;
}

.secondInfos .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.secondInfos .nav-tabs > li > a {
    border-radius: 0;
}

.secondInfos .nav-item {
    background-color: #F7F7F7;
}

/*modal title */
.modal-content h1 {
    font-size: 24px;
}

/*gridview sigec */
.sigecGrid {
    background: #ffd8004d !important;
}

/* modal loading */
.loader {
    /*border: 16px solid #f3f3f3;  Light grey*/ 
    /*border-top: 16px solid #3498db;  Blue*/ 
    /*border-radius: 50%;*/
    width: 100%;
    min-height: 50px;
    /*margin: auto;*/
    /*animation: spin 2s linear infinite;*/
background: url('images/ajax-loader.gif') no-repeat center center;
}

/*@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

/* img ? in form */
.infoImg {
    width: 12px;
    height: 12px;
    margin: 0 0 0 5px ;
}
/*
.producteur-create #producteurForm label, 
.journaliste-create #journalisteForm label, 
.journUpdate #journalisteForm label,
.consommateur-create #consommateurForm label, 
.consoUpdate #consommateurForm label,
.contactdivers-create #contactdiversForm label, 
.contDiversUpdate #contactdiversForm label {
    float: left;
    line-height: 36px;
    padding-right: 1rem;
    text-align: right;
    font-weight: 400;
    width: 200px;
}

.producteur-create #producteurForm input[type=text], .producteur-create #producteurForm select, .producteur-create #producteurForm .select2,
.journaliste-create #journalisteForm input[type=text], .journaliste-create #journalisteForm select,
.journUpdate #journalisteForm input[type=text], .consoUpdate #journalisteForm select,
.consommateur-create #consommateurForm input[type=text], .consommateur-create #consommateurForm select, .consommateur-create #consommateurForm .select2,
.consoUpdate #consommateurForm input[type=text], .consoUpdate #consommateurForm select, .consoUpdate #consommateurForm .select2,
.contactdivers-create #contactdiversForm input[type=text], .contactdivers-create #contactdiversForm select, .contactdivers-create #contactdiversForm .select2,
.contDiversUpdate #contactdiversForm input[type=text], .contDiversUpdate #contactdiversForm select, .contDiversUpdate #contactdiversForm .select2{
    width: 500px !important;
}

.customradio div label {
    width: inherit !important;
}

.producteur-create #producteurForm .btn,
.journaliste-create #journalisteForm .btn,
.journUpdate #journalisteForm .btn,
.consommateur-create #consommateurForm .btn,
.consoUpdate #consommateurForm .btn,
.contactdivers-create #contactdiversForm .btn,
.contDiversUpdate #contactdiversForm .btn{
    float: right;
    margin: 1rem 0;
    padding: 6px 20px;
}*/

input[type="checkbox"] {
    margin: 4px 2px 0;
    margin-top: 1px \9;
    line-height: normal;
}

.checkbox label {
    width: inherit !important;
    line-height: inherit !important;
    margin: 7px 0;
}

#consoCheck {
    margin: 10px 0 0;
}

.form-group {
    clear: both;
}

table {
    max-width: 100% !important;
}

#result {
    max-width: 100%;
    overflow-x: auto;
}

/* formulaires de recherche */

#searchform .labelform {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

#searchform label {
    font-weight: normal;
}

/*@media
	(min-width: 700px) and (max-width: 1024px) {
.kv-grid-table {
    table-layout: fixed;
}}*/

.tdCommentSuivi {
    overflow-wrap: break-word;
    width: 400px;
}

/*force orderBY on searchActivity */
/*#allSuiviSort  {
    color: #5A738E;
    text-decoration: none;
    cursor: pointer;
}*/

.suivibox {
	 box-shadow: 2px 2px #73879C4D; 
}